<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Apps Starter Project</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <a href="#main" class="skip-link">Menuju ke konten</a>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <h1 class="header__title">Mamen App</h1>
                <a href="" id="menu" class="header__menu" aria-label="Menu">☰</a>
            </div>

            <nav id="drawer" class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/">Home</a></li>
                    <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                    <li class="nav__item"><a href="https://github.com/babul28">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main id="main" class="app"></main>

    <footer>
        Copyright © 2021 - Mamen Apps
    </footer>
</body>

</html>